{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title> {% block pagename %}{% endblock pagename %} | EF</title>
</head>

<body class="bg-yellow-gray">
    <div>
        {% include "partials/nav2.html" with contract=project.contract %}
        <div class="container w-full xl:w-3/5 mx-auto">
            {% for edited_video in edited_videos %}
                <div class="my-20 border-4 rounded-lg px-5 py-3 relative">
                    <div class="flex justify-between items-center">
                        <div>
                            <span class="m-10 text-4xl">{{edited_video.name}}</span>
                        </div>
                        {% if user == edited_video.project.contract.editor and not edited_video.confirmed%}
                            <div class="flex flex-col">
                                <a href="{% url 'projects:delete_edited_video' edited_video.pk %}?next={{request.path}}" class="border-l-2 border-b-2 border-r-2 hover:bg-red-500 rounded px-2 py-1 mx-auto absolute right-0 top-0 mr-20"><i class="fas fa-trash-alt text-sm mx-1"></i>delete</a>
                                <a href="#" class="absolute right-0 top-0 hover:bg-green-400 rounded px-2 py-1 mx-auto border-l-2 border-b-2"><i class="far fa-edit text-sm mx-1"></i>edit</a>
                            </div>
                        {% endif %}
                    </div>
                    <video oncontextmenu="return false;" class="bg-black w-full h-280px sm:h-360px lg:h-480px xl:h-540px rounded-lg" controls {% if not edited_video.confirmed %} controlsList="nodownload" {% endif %}>
                        <source src="{{edited_video.video.url}}">
                    </video>
                    <span class="text-sm text-gray-600">{{edited_video.created}}</span>
                    {% if user == contract.employer %}
                        <div class="flex">
                            <a href="{% url 'projects:confirm_edited_video' edited_video.pk %}" class="my-5 mx-auto cursor-pointer bg-teal-600 hover:bg-teal-500 shadow-xl px-5 py-2 inline-block text-teal-100 hover:text-white rounded">confirm</a>
                        </div> 
                    {% endif %}
                </div>
            {% endfor %}
            <div class="bg-orange-100 rounded p-5 flex flex-col h-50vh overflow-auto">
                <h1 class="w-auto bg-orange-600 self-start rounded-lg text-white px-3 py-1">댓글</h1>
                <div class="my-5 h-1 w-full bg-white"></div>
                {% for comment in project_comments %}
                    <div class="flex my-1 {% if comment.user.pk == user.pk %} text-right flex-row-reverse {% endif %}">
                        {% if comment.user == user %}       
                            <a href="{% url 'projects:delete_comment' comment.pk %}?next={{request.path}}"><i class="fas fa-trash-alt text-sm mx-1 text-red-600"></i></a>
                        {% endif %}
                        {% include "mixins/user_avatar.html" with user=comment.user lg_h_and_lg_w='lg:w-10 lg:h-10' h_and_w='h-10 w-10' mx='mx-2' md_h_and_md_w='md:w-10 md:h-10' %}
                        <div class="mt-px bg-orange-100 rounded w-4/5 flex-col flex flex-col">
                            <span class="text-lg px-1">{{comment.comment}}</span>
                            <span class="text-xs font-medium text-gray-600">{{comment.created|date:'Y-m-d H:i'}}</span>
                        </div>
                    </div>
                {% endfor %}
                <form class="mt-10 w-full mx-auto flex flex-col" method="POST">
                    {% csrf_token %}
                    <div class="border bg-white rounded pb-2 pl-3">
                    <input class="pb-10 px-10 pt-5 w-full focus:outline-none" name="message" placeholder="Write a Message" required />
                    <button class="mx-auto cursor-pointer bg-red-600 hover:bg-red-500 shadow-xl px-5 py-2 inline-block text-orange-100 hover:text-white rounded">Send Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include "partials/footer.html" %}
</body>

</html>