[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
autopep8 = "*"
awsebcli = "*"

[packages]
django = "*"
mysqlclient = "*"
pillow = "*"
pathspec = "==0.5.9"
awsebcli = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
