<nav class="bg-white shadow h-auto" role="navigation">
  <div class="container max-w-full p-4 flex flex-wrap items-center md:flex-no-wrap justify-between">
    <div class="ml-4">
        <a href="{% url 'core:home' %}">
            EF
        </a>
    </div>
    <div class="w-full md:w-auto md:flex md:flex md:items-center">
      <ul class="flex flex-col mt-4 -mx-4 pt-4 border-t md:flex-row md:items-center md:mx-0 md:mt-0 md:pt-0 md:mr-4 lg:mr-8 md:border-0">
        <li>
            <a class="hover:text-gray-500 px-2 block px-4 py-1 md:p-2 lg:px-4" href="{% url 'projects:list' contract.pk %}">
                <i class="fas fa-list bg-gray-200 rounded-full p-2"></i>
            </a>
        </li>
        <li>
            <a class="hover:text-gray-500 px-2 block px-4 py-1 md:p-2 lg:px-4" href="#">
                <i class="far fa-envelope p-2 bg-gray-200 rounded-full"></i>
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>