{{suggestion.cost}} 에 수락하겠습니까?
<form class="mt-10 w-1/2 mx-auto" method="POST" action="{% url 'suggestions:create_answer' suggestion.other_side.pk suggestion.proposer.pk suggestion.pk %}?accept=True">
    {% csrf_token %}
    <button class="bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center">예</button>
</form>
<form class="mt-10 w-1/2 mx-auto" method="POST" action="{% url 'suggestions:create_answer' suggestion.other_side.pk suggestion.proposer.pk suggestion.pk %}?accept=False">
    {% csrf_token %}
    <button class="bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center">아니오</button>
</form>